.icon{
    width: 20px;
    height: 20px;          
}

.logo{
    width: 100px;
    height: 100px;          
}
.menu{
    width: 30px;
    height: 30px;          
}
.ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
}